extends layout

block content
  h1= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  p Welcome to #{title}
  div
    h2 Enter URL: 
    form(method="POST" action="/")
      input(type='text' name='EnterURL')
      input(class='submitButton' type='submit' value='EnterURL')
